annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==2.0.12
dewiki==0.1.0
distlib==0.3.8
Django==5.0.7
django-bootstrap3==24.2
django-bootstrap4==24.3
filelock==3.15.4
flake8==7.1.0
idna==3.7
mccabe==0.7.0
numpy==2.0.1
pandas==2.2.2
path @ git+https://github.com/jaraco/path.git@34634dc494d8385c0b40a3bedcce5458983b3a5d
path.py==12.5.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
pycodestyle==2.12.0
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.27.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
virtualenv==20.26.3
Wikipedia-API==0.6.0
